{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <title>GOODS AND SERVICES TAX</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="{% static 'js/modernizr.custom.js' %}"></script>

    <style type="text/css">
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
    </style>
    
  </head>

  <body>

<div >

<ul>
  <li><a class="active" href="/index/">Home</a></li>
  <li><a href="/index2/">Scan</a></li>
  <li><a href="/inventory/">Inventory</a></li>
  <li><a href="/bill/">Bill</a></li>
  <li><a href="/maps/">Maps</a></li>
  <li><a href="/logout_page/">Logout</a></li>
</ul>
</div>
	<!-- Menu -->
	<!--
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="/index/">LINK</a></h1>
			<i class="fa fa-arrow-right menu-close"></i>
			<a href="/index/">Home</a>
			<a href="/services/">Services</a>
			<a href="/portfolio/">Portfolio</a>
			<a href="/about/">About</a>
			<a href="#contact">Contact</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<!--
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>
-->


	
	<!-- MAIN IMAGE SECTION -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>GST</h1>
					<h2>We Manage Cool Stuff</h2>
					      	<div class="col-lg-7" style="text-align:center" >
      		<p class="pull-right"><br><button type="button" class="btn btn-green " style="background:transparent">  Let's Get Started</button></p>
      	</div>
					<div class="spacer"></div>
					<i class="fa fa-angle-down"></i>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8">
	        <h1> We  </h1>
	        <p>The basic aim of the entire project is to mitigate the difficulty faced by the people in comprehending,understanding and implementing the norms of Goods and Service Tax(GST).</p>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->
    
    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
    	<div class="container"
	    	<div class="row mt">
				<ul class="grid effect-2" id="grid">
					<li><a href="#"><img src="{% static 'img/portfolio/folder.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/paper.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/register.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/pen.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/folders.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/pencil.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/book1.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/wallet.jpeg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/table.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/book.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/61.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'mg/portfolio/table1.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/61.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/91.jpg' %}"></a></li>
					<li><a href="#"><img src="{% static 'img/portfolio/111.png' %}"></a></li>
				</ul>
	    	</div><!-- row -->
	    </div><!-- container -->
    </div><!-- portfolio -->


	<!-- SERVICES SECTION -->
	<div id="services">
		<div class="container">
			<div class="row mt">
				<div class="col-lg-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-lg-3">
					<h3>Quality Design</h3>
					<p>Good design Is Good Business</p>
				</div>

				<div class="col-lg-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-lg-3">
					<h3>Awesome Support</h3>
					<p></p>
				</div>
			
			
				<div class="col-lg-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-lg-3">
					<h3>Global Services</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- services section -->
	
	
	<!-- BLOG POSTS -->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Latest Financial News</h1>
			</div><!-- col-lg-12 -->
			<div class="col-lg-8">
				<p>The latests news about things that only matters to us.</p>
			</div><!-- col-lg-8-->
			<div class="col-lg-4 goright">
				<p><a href="#"><i class="fa fa-angle-right"></i> See All Posts</a></p>
			</div>
		</div><!-- row -->
		
		<div class="row mt">
			<div class="col-lg-4">
				<img class="img-responsive" src="{% static 'img/left.jpg' %}" alt="">
				<h3><a href="#">Politics in financial execution</a></h3>
				<p>One thing of consequenve has been accomplished aldready.The government has learnt the importance of concilliation in democracy.</p>
				<p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="{% static 'img/centre.jpg' %}" alt="">
				<h3><a href="#">Honourable Prime Minister Shri Narendra Modi</a></h3>
				<p>Narendra Damodardas Modi is an Indian politician who is the 14th and current Prime Minister of India, in office since May 2014. He was the Chief Minister of Gujarat from 2001 to 2014, and is the Member of Parliament for Varanasi</p>
				<p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="{% static 'img/right.jpg' %}" alt="">
				<h3><a href="#">Deprivation of Liquidity</a></h3>
				<p>Local businessman strongly object to the belief of the government and say that it is not feasible to check which trader is defaulting.</p>
				<p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
			</div>		
		</div><!-- row -->
	</div><!-- container -->
	
	
	<!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
					<img src="{% static 'img/clients/c01.gif' %}" alt="">
				</div>
				<div class="col-lg-2">
					<img src="{% static 'img/clients/c02.gif' %}" alt="">
				</div>
				<div class="col-lg-2">
					<img src="{% static 'img/clients/c03.gif' %}" alt="">
				</div>
				<div class="col-lg-2">
					<img src="{% static 'img/clients/c04.gif' %}" alt="">
				</div>
				<div class="col-lg-2">
					<img src="{% static 'img/clients/c05.gif' %}" alt="">
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
	
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/AnimOnScroll.js' %}"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
  </body>
</html>
